@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MedievalSharp', cursive;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:normal;
    min-height: 100vh;
    background-color: #ccc;
    background-image: url('../images/dg.jpg');
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #ccc;
    background-image: url('../images/header-bg.jpg');
    background-size: cover;
    background-position: top;
    border-bottom: 2px solid #AC9666;
    color: #fff;
}

header h1 {
    font-size: 3rem;
    border-bottom: 2px solid #AC9666;
}

.fight-area {
    display: flex;
    gap: 25px;
    margin-top: 50px;
}

#char,
#monster {
    flex: 1;
    margin: 20px;
}

.life-bar {
    height: 25px;
    border: 1px solid #AC9666;
    border-radius: 8px;
    background-color: #9a9292;
}

.life-bar .bar {
    height: 23px;
    background-color: #f00;
    border-radius: 8px;
}

.plate {
    font-size: 2.3rem;
    margin: 15px;
    display: block;
    text-align: center;
    flex-direction: column;
    color: #000;
    background-image: url('../images/paper\ background.png');
    border-radius: 25px;
}

.plate .attack-button {
    background-image: url('../images/paper\ background.png');
    background-position: center;
    background-size: cover;
    font-size: 2rem;
    background-color: aquamarine;
    padding: 8px 25px;
    border-radius: 10px;
    margin: 15px;
}

.plate .attack-button:hover {
    border: 2px solid #fff;
}

.log {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    list-style: none;
    text-align: center;
    margin: auto;
    height: auto;
    width: fit-content;
    max-height: 350px;
    background-image: url('../images/paper\ background.png');
    background-position: center;
    background-size: contain;
    font-size: 1.5rem;
    overflow-y: hidden;
    color: #000000;
    text-shadow: 3px 1px 5px #AC9666;
}

footer {
    width: 100vw;
    background-color: #000;
    border-top: 2px solid #AC9666;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
}